/* artikelsektion med billede og tekst i en flexbox */

.artikel {
    display: flex; /* Flexbox så billede og tekst står ved siden af hinanden frem for i en kolonne*/
    background-color: rgba(166, 119, 0, 0.60); /* 60% gennemsigtighed for at skabe mindre kontrast og gøre teksten nemmere at læse */
    margin-top: 50px; /* For at skabe luft mellem introtekst og artikelsektionen */
}

.artikel-billede {
    width: 100%; /* Billedet fylder hele bredden af artikelsektionen */
    max-width: 720px; /* Maksimal bredde på billedet, så det kun fylder halvdelen af flexboxen */
    height: auto; /* Højden justeres automatisk for at bevare billedets proportioner */
}

.artikel-tekst {
    max-width: 55ch; /* Maksimalt antal anslag, så linjelængden holdes læsevenlig */
    margin: auto; /* Centrerer artikelsektionen på siden */
}

.artikel-tekst h2 {
    text-align: center; /*Underoverskrift centreres for at skabe bedre balance i layoutet*/
}