/* Flexbox til introsektion */

.vinintro {
    display: flex; /* Flexbox for at centrere hele introsektionen på siden */
    flex-direction: row; /* Rækkevisning for at placere tekst og billede ved siden af hinanden */
    justify-content: space-between; /* Fordeler pladsen mellem tekst og billede */
    align-items: stretch; /* Strækker elementerne i introsektionen, så de fylder hele højden af containeren */
    padding: 60px 80px; /* Padding for at give luft omkring indholdet i introsektionen */
    max-width: 1200px; /* Maksimal bredde for at begrænse bredden på introsektionen */
    margin: 0 auto; /* Centrerer introsektionen horisontalt på siden */
}

.vinintro-tekst {
    display: flex; /* Flexbox for at arrangere tekst i en kolonne */
    flex-direction: column; /* Tekst vises i en kolonne */
    justify-content: space-between; /* Fordeler pladsen mellem overskrift brødtekst og knap */
    flex: 1; /* Giver tekstboksen en fleksibel bredde, så den fylder den resterende plads i containeren */
}

.vinintro-tekst h1 {
    max-width: 15ch; /* Maksimalt antal anslag for at sørge for, at overskriften ikke bliver for lang */
    text-align: center; /* Centrerer hovedoverskriften for at skabe balance i layoutet */
}

.vinintro-tekst p {
    max-width: 45ch; /* Maksimalt antal anslag for at holde brødteksten på ca. 60 anslag inkl. mellemrum for at forbedre læsbarheden */
    font-family: "futura-pt", Helvetica, sans-serif; /* Futura PT til brødtekst */
    line-height: 1.6; /* Linjeafstand for at forbedre læsbarheden */
    font-size: 16px; /* Størrelse på brødtekst */
}

.knap-vinbeskrivelse {
    align-self: flex-end;
}

.vinintro-billede {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centrerer billedet horisontalt */
    gap: 30px; /* Giver luft mellem billedet og teksten */
    flex: 1; /* Giver billedet en fleksibel bredde, så det fylder den resterende plads i containeren */
    justify-content: center; /* Centrerer billedet i containeren */
}

.vinintro-certifikater {
    display: flex; /* Flexbox for at arrangere certifikaterne i en række */
    flex-direction: column; /* Certifikaterne vises i en kolonne */
    align-items: flex-start; /* Venstrejusterer certifikaterne, så de står på linje vertikalt */
    gap: 20px; /* Giver luft mellem certifikaterne */
}

.vinintro-certifikater img {
    height: 100px; /* Billederne i certifikaterne skal have en fast højde */
    width: auto; /* Bredden justeres automatisk for at bevare proportionerne */
}

/* Vinbeskrivelse med info om vinen og smagsprofil */

.vinbeskrivelse {
   display: grid; /* Grid layout for at arrangere ikonerne i et gitter */
   grid-template-columns: 1fr 1fr; /* To kolonner, der hver tager halvdelen af bredden */
   grid-template-areas: 
    "vinflaske-billede smagsprofil"
    "madparring solaris-info"
    "solaris-klima smagsnoter"; /* Definerer områderne i gitteret */
}

.ikoner img {
    width: 80px; /* Billederne i ikonerne skal have en fast bredde */
    height: auto; /* Højden justeres automatisk for at bevare proportionerne */
    margin-bottom: 10px; /* Margin under billederne for at skabe luft */
}

.ikoner {
  display: flex; /* Flexbox for at arrangere ikonerne i en række */
  gap: 40px; /* Giver luft mellem ikonerne */
  justify-content: center;  /* Centrerer ikonerne horisontalt */
}

.ikoner span {
  display: flex;    
  flex-direction: column;
  align-items: center;
  font-size: 20pt;
  font-family: "marine-up", Helvetica, sans-serif;
  text-align: center;
}

.smagsprofil-linje {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Margin under hver linje for at skabe luft */
}

.smagsprofil-linje img {
    width: 80px; /* Billederne i ikonerne skal have en fast bredde */
    height: auto; /* Højden justeres automatisk for at bevare proportionerne */
}

.smagsprofil-linje span {
  display: flex;
  align-items: center;
}

.smagsprofil-linje > span:first-child,
.smagsprofil-linje > span:last-child {
  width: 80px; /* Giver labels en fast bredde */
  text-align: left; /* Venstrestiller labels for at gøre layoutet mere ensartet */
  align-self: flex-start; /* Justerer labels til toppen af linjen */
}

.bred-label {
  width: 120px; /* For at gøre plads til det længere ord "kraftig" uden cut-off */
}

.vinflaske-billede {
  grid-area: vinflaske-billede;
  display: flex;
}

.smagsprofil {
  grid-area: smagsprofil;
  background-color: rgba(166, 119, 0, 0.6);
  padding: 20px; /* Padding for at give luft omkring teksten i smagsprofil-sektionen */
  overflow: visible; /* Sørger for at indholdet teksten ikke bliver cut-off, hvis den er for lang */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerer indholdet i madparring-sektionen */
  justify-content: center; /* Centrerer indholdet vertikalt */
}

.madparring {
  grid-area: madparring;
  background-color: rgba(166, 119, 0, 0.6);
  padding: 20px; /* Padding for at give luft omkring teksten i madparring-sektionen */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerer indholdet i madparring-sektionen */
  justify-content: center; /* Centrerer indholdet vertikalt */
}

.solaris-info {
  grid-area: solaris-info;
  background-color: #CBE3E2;
}

.solaris-klima {
  grid-area: solaris-klima;
  background-color: #CBE3E2;
}

.smagsnoter {
  grid-area: smagsnoter; 
  background-color: rgba(166, 119, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerer indholdet i smagsnoter-sektionen */
  justify-content: center; /* Centrerer indholdet vertikalt */
}

.vinbeskrivelse span {
  font-family: "marine-up", Helvetica, sans-serif; /* Marine Up på labels for at matche øvrige over- og underskrifter */
  font-size: 20pt; /* Størrelse på labels i vinbeskrivelsen */
  text-align: center; /* Centrerer labels for at skabe balance i layoutet */
  margin-bottom: 10px; /* Margin under labels for at skabe luft */
}

.vinbeskrivelse h2 {
  text-align: center; /* centrering af overskriften for at passe til layoutet på resten af websitet */
  margin-left: auto; /* Ovenstående centrerer ikke overskriften helt. Derfor bruges margin-left + margin right auto */
  margin-right: auto;
  margin-bottom: 20; /* Margin under og overskrifter for at skabe luft */
  max-width: 15ch;
}

.vinbeskrivelse p {
  font-family: "futura-pt", Helvetica, sans-serif; /* Futura PT til brødtekst */
  line-height: 1.6; /* Linjeafstand for at forbedre læsbarheden */
  font-size: 16px; /* Størrelse på brødtekst */
  margin: 20px auto; /* Mere luft top og bund. Centrerer teksten i hver sektion */
  max-width: 45ch; /* Maksimal antal anslag for at holde linjerne korte og læsevenlige */
}
